.devLogo
    margin-top 15px
    display flex
    align-items: center
    justify-content center
    &__pic
        max-height 30px
        margin 0px 8px
        transition: 2s
    &:hover
        .devLogo__pic
            transform: rotateY(720deg) scale(1.1)