- var mail = "mail@mail.ru";
- var phone = "+71234567890";
- var wp = "https://api.whatsapp.com/send?phone=";
- var tg = "https://t.me/";
- var ig = "https://www.instagram.com/";
- var vk = "https://vk.com/write";